<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Example/examples/css/reset.css">
    <script src="./config/spMap.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module">
        const initMap = () => {
            const parm = {
                defaultView: {
                    duration: 3,
                    destination: [119.99945590462963, 29.99440440400228, 505.8659094693903],
                    orientation: { heading: 0, pitch: -40, roll: 0 }
                }
            }
            window.map = new slj3d("cesiumContainer", parm);
        }
        initMap()
        function add () {
          let list = [];
          for (let i = 0; i < 200; i++) {
              list.push({
                  "position": [
                      117.28 + Math.random() * (Math.random() > 0.5 ? 1 : -1),
                      31.923 + Math.random() * (Math.random() > 0.5 ? 1 : -1)
                  ],
                  "value": Math.floor(Math.random() * 1000)
              })
          }
          map.addHeatmap({
            list
          })
        }
        const guiSetting = {
          add
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'add').name('添加要素')
    </script>
</body>

</html>