<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Example/examples/css/reset.css">
    <script src="/Example/examples/config/spMap.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module">
        const initMap = () => {
            const parm = {
                defaultView: {
                    duration: 3,
                    destination: [119.99945590462963, 29.99440440400228, 505.8659094693903],
                    orientation: { heading: 0, pitch: -40, roll: 0 }
                }
            }
            window.map = new slj3d("cesiumContainer", parm);
        }
        initMap()
        add()
        function add () {
          map.addColorPoint({
            position: [120,30,10],
            id: 'point*',
            color: '#ff00ff',
            size: 10,
            outlineWidth: 4,
            outlineColor: '#ffffff'
          })
        }
        function remove () {
          map.removeMarker('point*')
        }
        const guiSetting = {
          add,
          remove
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'add').name('添加颜色点')
        gui.add(guiSetting, 'remove').name('移除颜色点')
    </script>
</body>

</html>