<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Example/examples/css/reset.css">
    <script src="../../config/spMap.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module">
        const initMap = () => {
            const parm = {
                defaultView: {
                    duration: 3,
                    destination: [119.99990333870964, 29.99923137281575, 99.7526020743565],
                    orientation: { heading: 0, pitch: -45, roll: 0 }
                }
            }
            window.map = new slj3d("cesiumContainer", parm);
        }
        initMap()
        add()
        function add () {
          const lineMarker = map.addLine({
            id:'line*',
            position: [[120,30,0],[120.0001,30,0],[120.0001,30.0001,0]],
            clampToGround: true, // 是否贴地，默认是true
            width: 5,
            color: 'rgba(255,255,0,1)',
            content: { text: '回调回调' }
          })
          lineMarker.addEventListener((e) => {
            console.log('线点击的回调', e)
            console.log('线的经纬度', e.marker.getPosition())
          })
        }
        function show () {
          map.showMarker('line*')
        }
        function hide () {
          map.hideMarker('line*')
        }
        function remove () {
          map.removeMarker('line*')
        }
        function getMarkerByid () {
          const marker = map.getMarkerByid('line*')
          marker.flyTo({
            distance: 50,
            pitch: -90,
            heading: 180
          })
          marker.color = '#000'
          console.log(marker)
        }
        const guiSetting = {
          add,
          show,
          hide,
          remove,
          getMarkerByid
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'add').name('添加矢量')
        gui.add(guiSetting, 'show').name('显示')
        gui.add(guiSetting, 'hide').name('隐藏')
        gui.add(guiSetting, 'remove').name('移除')
        gui.add(guiSetting, 'getMarkerByid').name('根据id获取实例')
    </script>
</body>

</html>