<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../examples/css/reset.css">
    <script src="../../../config/spMap.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module">
        const initMap = () => {
            const parm = {
                defaultView: {
                    duration: 3,
                    destination: [119.99945590462963, 29.99440440400228, 505.8659094693903],
                    orientation: { heading: 0, pitch: -40, roll: 0 }
                }
            }
            window.map = new slj3d("cesiumContainer", parm);
        }
        initMap()
        let marker = null
        add()
        function add () {
          marker = map.addPoint({
            position: [120,30,100],
            id: 'point*'
          })
          marker.addLine({
            width: 1, // 默认值1
            color: '#fff' // 默认#fff
          })
        }
        function show () {
          marker.showLine()
        }
        function hide () {
          marker.hideLine()
        }
        const guiSetting = {
          show,
          hide
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'show').name('显示接地线')
        gui.add(guiSetting, 'hide').name('隐藏接地线')
    </script>
</body>

</html>