<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Example/examples/css/reset.css">
    <script src="/public/Cesium/Cesium.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module" src="../../../src/scripts/gl3d/index-lt.js"></script>
    <script id='editJs'>
        const initMap = ()=>{
            const parm= {
                center:{lon:120,lat:30,height:100000,pitch:-60,heading:0}//视角位置：经度-纬度-高度-俯仰角（负数从上往下看）-方位角
            }
            window.viewer = LT3D.initGisMap("cesiumContainer", parm);



        
          // //创建一个对象，其属性值是接下来要用的参数值，这么做更多的是为了美观
          // var viewModel = {
          //   //图层亮度，1.0使用未修改的图像颜色。小于1.0会使图像更暗，而大于1.0会使图像更亮
          //   brightness: 0,
          //   //图层对比度，1.0使用未修改的图像颜色。小于1.0会降低对比度，大于1.0会增加对比度。
          //   contrast: 0,
          //   //图层色调，单位为弧度，0表示使用未修改的图像颜色
          //   hue: 0,
          //   //图层饱和度，1.0使用未修改的图像颜色。小于1.0会降低饱和度，大于1.0会增加饱和度。
          //   saturation: 0,
          //   //应用于该图层的伽马校正,1.0使用未修改的图像颜色。
          //   gamma: 0,
          // };
          //获取图层列表集合
          var imageryLayers = viewer.imageryLayers;
          var layer = imageryLayers.get(0);
          layer.brightness = 0.5;
          layer.hue = 3;
        }

        //初始化页面默认调用执行函数
        const init =()=> {
            initMap();
        }
    </script>
    <script type="module">
        var script = document.getElementById( 'editJs' ).text;
        eval(script);
        init();
    </script>
</body>

</html>