<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../Example/examples/css/reset.css">
    <script src="../../config/spMap.js"></script> -->
</head>

<body>
    <div id="cesiumContainer"></div>
    <!-- <canvas id="myCanvas" width="144" height="34" style="border: 1px solid red;"></canvas> -->
    <script>
        // var canvas = document.getElementById('myCanvas');
        var canvas = document.createElement('canvas')
        canvas.width = 200
        canvas.height = 50
        document.getElementById('cesiumContainer').appendChild(canvas)
        var ctx=canvas.getContext("2d")
        // 创建渐变
        var grd=ctx.createLinearGradient(0,0,100,1);
        grd.addColorStop(1,"rgba(255,0,0,1)");
        grd.addColorStop(0,"rgba(255,0,0,0)");

        ctx.fillStyle=grd;
        ctx.fillRect(0,0,100,50)
        ctx.fillStyle = 'rgba(255,0,0,0.2)'
        ctx.fillRect(100,0,200,50)
        
    </script>
    <script type="module">
        
        function add () {
          
        }
        const guiSetting = {
          add
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'add').name('添加要素')
    </script>
</body>

</html>