<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../Example/examples/css/reset.css">
    <script src="../../config/spMap.js"></script> -->
</head>

<body>
    <div id="cesiumContainer"></div>
    <canvas id="myCanvas" width="20" height="150" style="border: 1px solid red;"></canvas>
    <script>
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        // 绘制箭身
        ctx.beginPath();
        ctx.moveTo(10, 8);
        ctx.lineTo(10, 150);
        ctx.lineWidth = 5;
        ctx.stroke();

        // 绘制箭头头部
        ctx.beginPath();
        ctx.moveTo(10, 8);
        ctx.lineTo(15, 20);
        ctx.lineTo(5, 20);
        ctx.closePath();
        ctx.stroke();

    //     ctx.lineWidth=5;                   // 线宽
    // ctx.strokeStyle="#000000";         // 描边颜色
    ctx.fillStyle="#000000";           // 填充颜色
    // ctx.lineCap="round";               // 线条末端形状
    // ctx.lineJoin="round";              // 线条转弯处形状
    // ctx.shadowBlur=5;
    // ctx.shadowColor= "rgba(0, 0, 0, 0.5)";
    ctx.fill()
    </script>
    <script type="module">
        
        function add () {
          
        }
        const guiSetting = {
          add
        }
        const gui = new dat.GUI()
        gui.add(guiSetting, 'add').name('添加要素')
    </script>
</body>

</html>