<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../examples/css/reset.css">
    <script src="/public/Cesium/Cesium.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module" src="../../../src/scripts/gl3d/index-lt.js"></script>
    <script id='editJs'>
        const initMap = ()=>{
            window.viewer = LT3D.initGisMap("cesiumContainer");
        }

        //初始化页面默认调用执行函数
        const init =()=> {
            initMap();
        }
    </script>
    <script type="module">
        var script = document.getElementById( 'editJs' ).text;
        eval(script);
        init();
    </script>
</body>

</html>