<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../examples/css/reset.css">
    <script src="/Example/examples/js/dat.gui.min.js"></script>
    <script src="/public/Cesium/Cesium.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module" src="../../../src/scripts/gl3d/index-lt.js"></script>
    <script id='editJs'>
        const initMap = async () => {
            const parm = {
                center: { lon: 120, lat: 30, height: 100000, pitch: -60, heading: 0 }//视角位置：经度-纬度-高度-俯仰角（负数从上往下看）-方位角
            }
            let viewer = LT3D.initGisMap("cesiumContainer");

            /**
             * 加载倾斜摄影模型
             * 多个模型瓦片链接可同时加载，用逗号隔开
            */
            const tilesUrl = "https://pydzl.yunshan66.com.cn/puyuan_3700/tileset.json,https://pydzl.yunshan66.com.cn/puyuan_3700/tileset.json";
            let tileset = await LT3D.model.add3DTiles(tilesUrl)
            viewer.flyTo(tileset[0]);

            top.window.viewer = viewer;
        }

        //初始化页面默认调用执行函数
        const init = () => {
            initMap();
        }
    </script>
    <script type="module">
        var script = document.getElementById('editJs').text;
        eval(script);
        init();
    </script>
</body>

</html>