<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Example/examples/css/reset.css">
    <script src="/Example/examples/js/dat.gui.min.js"></script>
    <script src="/public/Cesium/Cesium.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module" src="../../../src/scripts/gl3d/index-lt.js"></script>
    <script id='editJs'>
        const initMap = async () => {
            const parm = {
                center: { lon: 120, lat: 30, height: 100000, pitch: -60, heading: 0 }//视角位置：经度-纬度-高度-俯仰角（负数从上往下看）-方位角
            }
            let viewer = LT3D.initGisMap("cesiumContainer");
            let tileset = await LT3D.model.add3DTiles("http://resource.dvgis.cn/data/3dtiles/ljz/tileset.json")
            tileset[0].style = new Cesium.Cesium3DTileStyle({
                color: {
                    conditions: [
                        ['${Height} >= 300', 'rgba(45, 0, 75, 0.5)'],
                        ['${Height} >= 200', 'rgb(102, 71, 151)'],
                        ['${Height} >= 100', 'rgb(170, 162, 204)'],
                        ['${Height} >= 50', 'rgb(224, 226, 238)'],
                        ['${Height} >= 25', 'rgb(252, 230, 200)'],
                        ['${Height} >= 10', 'rgb(248, 176, 87)'],
                        ['${Height} >= 5', 'rgb(198, 106, 11)'],
                        ["true", "color('red')"]
                    ]
                }
            })
            viewer.flyTo(tileset[0]);

            top.window.viewer = viewer;
        }

        //初始化页面默认调用执行函数
        const init = () => {
            initMap();
        }
    </script>
    <script type="module">
        var script = document.getElementById('editJs').text;
        eval(script);
        init();
    </script>
</body>

</html>