<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../examples/css/reset.css">
</head>

<body>
  <script>
    /**
     * 切换npm源，安装依赖npm istall lt3d;
     * lt3d使用:import LT3D from "lt3d";
     * 初始化后的地图视图viewer全局挂载，不要挂载到vue的data中，避免内存泄漏
     * 底图默认为天地图卫星底图，使用天地图时注意去官网申请key
     * 
     * 
     * 
     * 
     * 
     * 
     * 
     * 
    */
  </script>
</body>

</html>