<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../examples/css/reset.css">
    <script src="/Example/examples/js/dat.gui.min.js"></script>
    <script src="/public/Cesium/Cesium.js"></script>
</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module" src="../../../src/scripts/gl3d/index-lt.js"></script>
    <script id='editJs'>
        const initMap = () => {
            const parm = {
                center: { lon: 120, lat: 30, height: 100000, pitch: -60, heading: 0 }//视角位置：经度-纬度-高度-俯仰角（负数从上往下看）-方位角
            }
            window.viewer = LT3D.initGisMap("cesiumContainer", parm);


            var icon = {
                width: 80,
                height: 80,
                url: '/Example/examples/images/marker_icon.png',
                offset: [0, 0]//图标偏移
            }
            let data = {
                id: "123",//必传，用于图层中查找实体
                icon: icon,//设置该点的图片；不设置不显示该图片
                pointColor: "rgba(255,0,0,1)",//点颜色,不设置不显示改点
                position: [120, 30, 0],//经度纬度高度
                label: {//站点标签，不设置则不显示
                    text: '1',
                    labelStyle: {
                        color: "#ff0",
                        fontSize: '16px',
                        offset: [0, -60],//文字偏移距离
                        backgroundColor: 'rgba(255,0,0,0)',//文字背景色
                    }
                },
                content: { item: '测试数据' },//我是用来储层数据的，并传递
            }
            //绘制站点
            /**
             * @param data 绘制站点数据
             * @param dataSource 图层概念，可选，如果不传，自动生成新的图层
             * @return {entity,layer}
             * @entity 返回一个绘制站点的实体
             * @layer 返回是该实体存在的图层dataSource
            */
            let dataSource = new Cesium.CustomDataSource('myData');//创建一个名称为myData的图层
            viewer.dataSources.add(dataSource);//将该图层加入到地图中

            let a1 = LT3D.addVector.marker.addMarker(data, dataSource);
            // a1.entity.addEventListener("click", (pick) => {
            //     console.log('"click"',pick);
            // })
            a1.entity.addEventListener("Rclick", (pick) => {
                console.log('"Rclick"',pick);
            })

            const obj = {
                "查找名为myData的图层": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    console.log(layer);
                },
                "定位到图层": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    viewer.zoomTo(layer);
                },
                "根据实体id获取实体": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    let entity = layer.entities.getById(123);
                    console.log(entity);
                },
                "实体显隐控制": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    let entity = layer.entities.getById(123);
                    entity.show = !entity.show;
                },
                "移除某一个实体": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    //根据id来移除
                    //dataSource.entities.removeById("123");
                    //根据实体来移除
                    let entity = dataSource.entities.getById(123);
                    layer.entities.remove(entity);

                },
                "图层显隐切换": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    layer.show = !layer.show;
                },
                "清空图层全部实体": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    layer.entities.removeAll();
                },
                "删除图层": function () {
                    let layer = viewer.dataSources.getByName("myData")[0];
                    viewer.dataSources.remove(layer,true);
                }
            }
            const gui = new dat.GUI()
            gui.add(obj, '查找名为myData的图层') // 按钮
            gui.add(obj, '定位到图层') // 按钮
            gui.add(obj, '根据实体id获取实体') // 按钮
            gui.add(obj, '实体显隐控制') // 按钮
            gui.add(obj, '移除某一个实体') // 按钮
            gui.add(obj, '图层显隐切换') // 按钮
            gui.add(obj, '清空图层全部实体') // 按钮
            gui.add(obj, '删除图层') // 按钮
        }

        //初始化页面默认调用执行函数
        const init = () => {
            initMap();
        }
    </script>
    <script type="module">
        var script = document.getElementById('editJs').text;
        eval(script);
        init();
    </script>
</body>

</html>